# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production
.env.*.local

# macOS
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json
.idea/
